<section class="section featured-projects">

  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project">
      <figure class="project__pic">
        <a href="https://ahh1539.pythonanywhere.com/home" target="_blank">
          <img src="{{site.baseurl}}/img/featured/ritapi/ritapi.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/dmb4086/brick-hack-6" target="_blank">TigerPlace</a>
        </div>
        <p>Made as a hackathon project, This is an online version of Goodbye-Goodbye, an annual sale of
          recycled/reuseable items at RIT. TigerPlace makes it easy
          for potential customers to buy and sell things
          <!-- <div class="project__used">
            <span class="project__used__item">Python</span>
            <span class="project__used__item">Selenium</span>
          </div> -->
        </p>
        <!-- <div class="project__used">
          <span class="project__used__item">Python</span>
          <span class="project__used__item">Selenium</span>
        </div> -->
      </figcaption>


    </div>


    <div class="project">
      <figure class="project__pic">
        <a href="https://github.com/dmb4086/Faculty-Research-Database" target="_blank">
          <img src="{{site.baseurl}}/img/featured/ritapi/ritapi.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/dmb4086/Faculty-Research-Database" target="_blank">Faculty Research Database</a>
        </div>
        <p> A web app made to help students find preferred faculty for thier capstone project based on similar
          interests.
          Additionally it also lets you upload documents, research papers and more!

        </p>
      </figcaption>


    </div>

    <!-- <div class="project interventions">
      <figure class="project__pic">
        <a href="https://interventions.design/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/ritapi/ritapi.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://interventions.design/" target="_blank">Interventions</a>
        </div>
        <p>Interactive marketing website for Northeastern's first annual student-led design conference, Interventions.
        </p>
      </figcaption>
    </div>
  </div> -->
</section>