<section class="section featured-projects">

  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project">
      <figure class="project__pic">
        <a href="https://blistabloc.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/ritapi/ritapi.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://blistabloc.com/" target="_blank">TigerPlace</a>
        </div>
        <p>A RIT student-to-student recycling/reuse marketplace to
          facilitate transactions and make it easier for potential customers to buy what they want </p>
      </figcaption>


    </div>


    <div class="project">
      <figure class="project__pic">
        <a href="https://github.com/dmb4086/RIT-API-Project" target="_blank">
          <img src="{{site.baseurl}}/img/featured/ritapi/ritapi.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://blistabloc.com/" target="_blank">TigerPlace</a>
        </div>
        <p>A RIT student-to-student recycling/reuse marketplace to
          facilitate transactions and make it easier for potential customers to buy what they want </p>
      </figcaption>


    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://interventions.design/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/ritapi/ritapi.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://interventions.design/" target="_blank">Interventions</a>
        </div>
        <p>Interactive marketing website for Northeastern's first annual student-led design conference, Interventions.
        </p>
      </figcaption>
    </div>
  </div>
</section>